﻿@model AssignmentMVC.ViewModel.UserInformation
@using AssignmentMVC.BusinessClass
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="admin-index">
    <div class="row">
        <label class="dashborad-profile">
            @Html.ActionLink("Back","Users","Admin",null,new { @class="btn btn-info"})
            @Html.ActionLink("DashBoard", "Index", "Admin", null, new { @class = "btn btn-primary" })
        </label>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p class="h2 text-center text-danger">User Information</p>
        </div>
        <div class="col-sm-4">
            @Html.Image(Model.Image.ImageURL, Model.Image.Title, "100px")
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#PromoteModal">Promote</button>
        </div>
    </div>
    <dl class="dl-horizontal h4">
        <dt class="text-warning h3">Access Level</dt>
        <dd>
            @foreach (var access in Model.Accesses)
            {
            <dt>@Html.DisplayName("Access-Type:")</dt>
            <dd>@Html.DisplayFor(model => access.Module.ModuleName)</dd>
            }
            <dt class="text-warning h3">Profile</dt>
            <dd></dd>
            <dt>@Html.DisplayNameFor(model => model.User.UserId)</dt>
            <dd>@Html.DisplayFor(model => model.User.UserId)</dd>
            <dt>@Html.DisplayNameFor(model => model.User.Firstname)</dt>
            <dd>@Html.DisplayFor(model => model.User.Firstname)</dd>
            <dt>@Html.DisplayNameFor(model => model.User.Lastname)</dt>
            <dd>@Html.DisplayFor(model => model.User.Lastname)</dd>
            <dt>@Html.DisplayNameFor(model => model.User.Email)</dt>
            <dd>@Html.DisplayFor(model => model.User.Email)</dd>
            <dt>@Html.DisplayNameFor(model => model.User.Address)</dt>
            <dd>@Html.DisplayFor(model => model.User.Address)</dd>
            <dt class="text-warning h3">Contacts</dt>
            <dd></dd>
            @foreach (var contact in Model.UserContacts)
            {
                <dt>@Html.DisplayFor(m => contact.Contact.ContactType)</dt>
                <dd>@Html.DisplayFor(model => contact.ContactNumber)</dd>
            }

        </dl>

    </div>

    <!-- Upgrade Modal -->
    <div class="modal fade" id="PromoteModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="modal-title h3 text-center" id="ModalTitle">Promote/Demote User</p>
                </div>
                @using (Html.BeginForm("Promote", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "PromoteForm" }))
                {
                    <div class="modal-body">

                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                @{
                                    var UserId = Model.User.UserId;
                                }
                                <input type="hidden" name="UserId" value="@UserId" />
                                @Html.Label("Are you sure want to promote ?", htmlAttributes: new { @class = "control-label col-sm-8" })
                                <div class="col-sm-offset-4 col-sm-8">
                                    <label class="text-primary">@Model.User.Email</label>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Where to : ", new { @class = "control-label col-sm-6" })
                                <div class="col-sm-3">
                                    <select class="form-control" name="PromoteId">
                                        <option value="2">User</option>
                                        <option value="1">Admin</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="PromoteUser">Save</button>
                    </div>
                     }
            </div>
        </div>
    </div>