﻿body {
    color:gray;
    margin:0;
    padding:0;
    background: black url("../Images/Abstract-macro-photo-background-in-a-dark-color-presentation-background-template-visme.jpg") no-repeat;
    background-size:cover;
    box-sizing:border-box;
    background-attachment:fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
header{
    top:0;
    position:sticky;
    z-index:1;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea{
    min-height:30px;
    max-width:300px;
}
.sticky{
    top:0;
    position:fixed;
    margin:auto;
}

.error{
    color:coral;
}
.text-wrap{
    overflow-wrap:break-word;
}
.font-weight{
    font-weight:600;
}


input[type=file]
{
    max-width:200px;
    padding-top:5px;
    text-align:center;
}
input[type=button]{
    margin-top:20px;
}
.row{
    margin:5px;
}
label{
    font-size:1.1em;
    font-weight:600;
    color:white;
    text-align:left;
}
.input-group{
    border-radius:10px;
}
form{
    background-color:rgba(111,50,100,1);
    padding:20px 0;
    margin:0;
}
h3{
    text-align:center;
    color:white;
    font-size:30px;
    font-weight:700;
}
.direction{
    margin-top:10px;
    color: white;
    font-weight:600;
    text-align:center;
}


#LoginForm{
    padding:20px 10px 100px 10px;
}

button{
    margin-top:10px;
}
.view-bag{
    color:#f3b421;
    text-align:center;
    font-size:14px;
    font-weight:700;
}
.dashborad-profile{
    text-align:left;
    font-size:30px;
    padding-top:30px;
    font-weight:700;
    color:#fff;
}
.jumbotron{
    background-color:#065d59;
}
.dashboard-label{
    color:#fff;
    font-weight:600;
}
.dashboard-value{
    color:#fff;
}
h2{
    padding:10px 20px;
    font-weight:800;
    color:#fff;
    text-decoration:underline;
}
img{
    border-radius:20%;
}
.index-heading{
    font-size:35px;
    font-weight:600;
    text-decoration:none;
}
.index-banner-text{
    color:antiquewhite;
    font-size:20px;
    padding:10px;
}
a{
    letter-spacing:1px;
}
.text-danger{
    color:orange;
    font-weight:600;
}
@media only screen and (max-width:420px){
    .container{
        padding-left:0;
        padding-right:0;
    }
    .col-md-6{
        padding-left:0;
        padding-right:0;
    }
}

.image-size{
    font-size:10px;
    color:white;
}

@media only screen and (max-width: 767px) {
   .text-right{
    text-align:left;
  }
   .col-xs{
    padding-left:10%;
  }
}

.admin-index{
    background-color:#000;
}
