﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div style="padding:30px;color:red;">
        <h1 style="font-size:30px;">HTTP 404 error found!</h1>
        <hr />
    </div>
</body>
</html>
