﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h2 class="index-heading">Heading</h2>
        </div>
        <div class="row">
            <p class="text-center index-banner-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        @Html.ActionLink("Login", "Login", "Login", null, new { @class = "btn btn-primary btn-block" })
                    </div>
                    <div class="col-sm-6">
                        @Html.ActionLink("Register", "Register", "Registration", null, new { @class = "btn btn-success btn-block" })
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

